page-home {
  
  .left-container {
    position: absolute;
    overflow-y: scroll;
    height: 500px;
    .search-bar {
      box-shadow: none;
    }
    .card-container {
      background-color: color($colors, mySoftGreen);
      cursor: pointer;
      margin: 4px;
      border: 1px solid color($colors, secondary);
      border-radius: 4px;
    }
  }

}
